.container-audio {
    width: 66%;
    height: 35px;
    padding: 2px;
    border-radius: 5px;
    background-color: #eee;
    color: #444;
    margin: 2px auto;
    overflow: hidden;
}
audio {
    width:100%;
}
